<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" >
</head>
<body background="{{ url_for('static', filename='img/page1.jpg') }}">
<!--background here-->
    
    <div class="container" >
        <!-- <img src="{{ url_for('static', filename='img/logo.png') }}"  alt="" >               -->
        
        <form action="/welcome" method="post">
            <!-- <h1>Login</h1> -->
            <div class="input-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>

            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>