<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" >
</head>
<body background="{{ url_for('static', filename='img/page2.jpg') }}"></body>
<body>
    <div class="container">
        <title1>Welcome,<br>Doc. <span style="color: rgb(0, 157, 255);">{{ username }}</span>!</title1>
        <text1>
            In <span style="color: rgb(0, 157, 255);">2024</span>, you have been busy on the front lines for a total of <span style="color: rgb(0, 157, 255);">{{AAA}}</span> days, making you a very diligent Doctor.
            <br>
            You have participated in <span style="color: rgb(0, 157, 255);">{{BBB}}</span> battles this year, making significant contributions to the Tera Continent.
            <br>
            On <span style="color: rgb(0, 157, 255);">{{CCC}}</span>, you fought in many battles, that’s a hard work.
            <br>
            You have now reached in battle <span style="color: rgb(0, 157, 255);">{{DDD}}</span>, which is an impressive achievement, well done!
            <br>
            You now own <span style="color: rgb(0, 157, 255);">{{EEE}}</span> characters above level <span style="color: rgb(0, 157, 255);">60</span>, including <span style="color: rgb(0, 157, 255);">{{FFF}}</span>, they must be very reliable combatants for Roosterteeth.
        </text1>
        <!-- <p>Your alevel is: {{ alevel }}</p>
        <p>Registered on: {{ reg_date }}</p> -->
        <!-- <p>Current battle: {{AAA}}</p> -->
        <!-- Add more user details as needed -->
    </div>
    <div>
        <button1 onclick="location.href='/logout'">&lt&lt Exit</button1>
        <button2 onclick="location.href='/cards'">Forward &gt&gt</button2>
    </div>
</body>
</html>